*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: grey;
}
.form_register{
    border-width: 0.5px;
    border: 5px solid;
    max-width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #e7ebed;
    
}

.botons{
    width: 100%;
    background-color:green;
    padding: 12px;
    color: blanchedalmond;
    margin: 16px 0;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }



  
